# Temporary files
*.out
*.aux
*.bcf
*.lof
*.log
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.blg
*.bbl

# PDF output
Main.pdf

# macOS junk
.DS_Store

# Python junk
.venv
cache
__pycache__

# Other Stuff
POC/Markers
my_config.py
test.py