# Temporary files
*.out
*.aux
*.bcf
*.lof
*.log
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.blg
*.bbl
*.lot

# PDF output
Main.pdf

# macOS junk
.DS_Store

# Python junk
.venv
cache
__pycache__

# Other Stuff
_minted/
POC/Markers
revision/

todo.txt
test.py